<div class="row">
  <div class="span12">
    <div>
      <%= form_tag displays_create_path do %>
        <table align="left">       
          <% @datas.each do |data| %>
            <tr>
              <%= hidden_field_tag nil, data.id, name: "datas[][id]" %>
              <td><%= text_field_tag nil, data.col1, name: "datas[][col1]", class: "droppable" %></td>
              <td><%= text_field_tag nil, data.col2, name: "datas[][col2]", class: "droppable" %></td>
              <td><%= text_field_tag nil, data.col3, name: "datas[][col3]", class: "droppable" %></td>
              <td><%= text_field_tag nil, data.col4, name: "datas[][col4]", class: "droppable" %></td>
              <td><%= text_field_tag nil, data.col5, name: "datas[][col5]", class: "droppable" %></td>
              <td><%= text_field_tag nil, data.col6, name: "datas[][col6]", class: "droppable" %></td>
              <td><%= text_field_tag nil, data.col7, name: "datas[][col7]", class: "droppable" %></td>
              <td><%= text_field_tag nil, data.col8, name: "datas[][col8]", class: "droppable" %></td>
              <td><%= text_field_tag nil, data.col9, name: "datas[][col9]", class: "droppable" %></td>
              <td><%= text_field_tag nil, data.col10, name: "datas[][col10]", class: "droppable" %></td>
            </tr>
          <% end %>
        </table>
        <table align="left">
          <tr>
            <td><%= hidden_field_tag nil, @info.id, name: "info[][id]" %></td>
            <td><%= text_field_tag nil, @info.usr_name, name: "info[][usr_name]" %></td>
            <td><%= text_field_tag nil, @info.usr_password, name: "info[][usr_password]" %></td>
            <td><%= submit_tag t(:register), disable_with: "登録中..." %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table border="" id="table" align="left">
      <tr><td class="draggable">A</td><td class="draggable">B</td><td class="draggable">C</td><td class="draggable">D</td><td class="draggable">E</td><td class="draggable">F</td><td class="draggable">G</td><td class="draggable">H</td><td class="draggable">I</td><td class="draggable">J</td><td class="draggable">K</td><td class="draggable">L</td><td class="draggable">M</td></tr>
      <tr><td class="draggable">N</td><td class="draggable">O</td><td class="draggable">P</td><td class="draggable">Q</td><td class="draggable">R</td><td class="draggable">S</td><td class="draggable">T</td><td class="draggable">U</td><td class="draggable">V</td><td class="draggable">W</td><td class="draggable">X</td><td class="draggable">Y</td><td class="draggable">Z</td></tr>
    </table>
  </div>
</div>



